@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.bg-grid-white {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

/* Update snap styles */
.snap-y {
  scroll-snap-type: y proximity;
  -webkit-overflow-scrolling: touch;
  scroll-padding-bottom: 100px;
}

.snap-start {
  scroll-snap-align: start;
  scroll-margin-top: 1rem;
  scroll-margin-bottom: 1rem;
}

/* Remove snap-always as we want more fluid scrolling */
/* .snap-always {
  scroll-snap-stop: always;
} */

.scroll-smooth {
  scroll-behavior: smooth;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
